html {
  min-width: 50px;
}

body {
    background: #d9d9d9;
    padding-bottom: 50px; 
    min-width: 550px;
}

.center{
    position: absolute;
    margin: auto;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
}

.bl-list {
 background: white;    
    float: left;
    width: 65%;    
    height: auto;
    min-width: 500px;
    margin-bottom: 10px;
    margin-right: 30px;
   border-radius: 5px;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.bl-bought {
    display: inline-block;
    background: white;
    padding-top: 5px;
     border-radius: 5px;
    width: 20%;  
    min-width: 300px;
    height: auto;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.bl-row{    
    width: 100%;
    height: auto;
    padding-left: 10px; 
    padding-right: 10px; 
    border-top: 1px solid;
    border-top-color: #cdcbcb;
   font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.state-not-bought .bl-notbuy{
    display: none;
}

.state-bought .bl-buy, .state-bought .bl-delete, .state-bought .bl-minus, .state-bought .bl-plus{
    display: none;
}

.state-bought .bl-label{
    box-sizing: border-box;
    background: #E6E6E6;
    font-size: 15px;    
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    border-radius: 5px;
    margin-left: 40px;
}

.state-bought .bl-product {
 text-decoration: line-through;
}

.bl-product{
    float: left;
    width: 34%;  
   height: 100%;   
   padding-top: 20px;
box-sizing: border-box;
    word-wrap: break-word;
}

.bl-product-name{
     width: 100%;  
   height: 100%; 
}

.state-change-name .bl-product-name{
    display: none;
}

.state-not-change-name .bl-change-input{
    display: none;
}

.state-change-name .bl-change-input{
    width: 90%;
    height: 17px;
    border-radius: 5px;
}

.bl-count{    
    display: inline-block;  
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bl-buttons{
    display: inline-block;  
    box-sizing: border-box;  
    float: right;   
    width: 30%;
    height: 100%;   
    min-width: 150px;
    max-width: 150px;
    margin-left: 15px;
    padding-top: 10px;
}

.bl-label{    
    display: inline-block;    
    margin-top: 5px;
    background: #E6E6E6;
    font-size: 15px;    
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    border-radius: 5px;
}

.bl-plus {    
    background: #21BA45;
    border-radius: 100px;
    height: 36px;
    width: 36px;
    color:white;
    font-size: 20px;  
    border-top: 0px;
    border-bottom:3px solid;
    border-left:2px solid;
    border-right:2px solid;
    border-bottom-color: #1b9838;
    border-left-color: #1b9838;
    border-right-color: #1b9838;
}

.bl-plus:hover{
  background:   #16ab39;
}

.bl-minus {
    
    background: #DF0101;
    border-radius: 100px;
    height: 36px;
    width: 36px;  
    color:white;
    font-size: 20px;
    border-top: 0px;
    border-bottom:3px solid;
    border-left:2px solid;
    border-right:2px solid;
    border-bottom-color: #b20101;
    border-left-color: #b20101;
    border-right-color: #b20101;
   
}

.bl-minus:disabled{
    background: #ff8080;
     border-radius: 100px;
    height: 36px;
    width: 36px;  
     color:white;
     font-size: 20px;
     border-top: 0px;
    border-bottom:3px solid;
    border-left:2px solid;
    border-right:2px solid;
    border-bottom-color: #ff8080;
    border-left-color: #ff8080;
    border-right-color: #ff8080;
    
}

.bl-minus:disabled:hover{
    background: #ff8080;   
}

.bl-minus:hover{
background: #DF0101;
}

.bl-buy{
    width: 100px;
    height: 40px;
    background-color:#f2f2f2;
    float: left;
    margin-right: 5px;
    border-radius: 7px;
    font-size: 11px;
    font-weight: bold;
    color: #595959;
    border-top: 1px solid;
    border-left: 1px solid ;
    border-right: 1px solid;
    border-bottom:4px solid;   
    border-bottom-color: #cccccc;
    border-left-color: #cccccc;
    border-right-color: #cccccc;
    border-top-color: #cccccc;
}

.bl-buy:hover, .bl-notbuy:hover{
   background:  #BDBDBD;
}


.bl-notbuy{
    width: 100px;
    height: 40px;
    background-color:#f2f2f2;
    float: right;
    margin-right: 5px;
    border-radius: 7px;
    font-size: 11px;
    font-weight: bold;
    color: #595959;
    border-top: 1px solid;
    border-left: 1px solid ;
    border-right: 1px solid;
    border-bottom:4px solid;   
    border-bottom-color: #cccccc;
    border-left-color: #cccccc;
    border-right-color: #cccccc;
    border-top-color: #cccccc;
}

.bl-delete{
    background: #DF0101;
    height: 40px;
    width: 40px;
    border-radius: 7px;
     color:white;
     font-size: 10px; 
     border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom:4px solid;   
    border-bottom-color: #b20101;
    
}

.bl-delete:hover{
    background: #8A0808;
}

.bl-add {
    height: 75px;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1px;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    box-sizing: border-box;      
}
.addinput{
    width:75%; 
    height: 100%;
    float: left;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; 
    border-top: 1px solid;
    border-bottom:1px solid;
    border-left:1px solid; 
    border-bottom-color: #cccccc;
    border-left-color: #cccccc;
    border-top-color: #cccccc;
    
}   

.addbutton{
    width: 25%;
    height: 100%;
    float: right;
    background-color: #2185D0;
    color:white;
    font-size: 15px;
    min-width: 120px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold; 
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom:4px solid;   
    border-bottom-color: #1c70b0;
}

.addbutton:hover{
     background-color: #1c70b0;
}
    

.bl-title{
    font-weight: bold;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.bl-left{  
   padding-left: 5px;
    padding-bottom: 5px;
    border-top: 1px solid;
    border-top-color: #cdcbcb;
     border-bottom: 1px solid;
    border-bottom-color: #cdcbcb;
     box-sizing: border-box;
    min-height: 30px;
}

.bl-left-item{
    margin-top: 5px;   
    margin-right: 5px;
    display: inline-block;
     background: #E6E6E6;
    font-size: 11px;    
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    word-wrap: break-word;
}

.bl-left-product-name{   
    display: inline-block;
    font-size: 11px;    
    padding: 5px;
    border-radius: 5px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    word-wrap: break-word;
}

.bl-left-product-count{
    display: inline-block;
    background:#ff6600;
    font-size: 9px;    
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 100px;
    color: white;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    height: 20px; 
}

.bl-done{
    height:40%;
    padding-left: 5px;
    padding-bottom: 5px;
    border-top: 1px solid;
    border-top-color: #cdcbcb;
    box-sizing: border-box;
    min-height: 30px;
}

.sticker{
    margin-left: 10px;
    position: fixed;
    bottom: -80px;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    text-align: center;
    color: aliceblue;
    padding: 20px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.sticker:hover{
  /*  bottom: 0;
    transition: all 1s linear;*/
    transform: translateY(-80px);
     background-color:darkred;
}

.buy{
    font-size: 25px;   
    font-weight: bold;
    margin-bottom: 5px;
}

.created{
     font-size: 20px; 
    margin-top: 15px;
}

.name{
    font-size: 30px;
    margin-top: 15px;
}

@media print{
    .sticker{
        background: white;
        color: black;
        border: 2px solid black;
    }
    .buy, .created{
        display: none;
    }
}

@media  (max-width:750px) {
    .center {      
        margin-left: 0;
        margin-right: 0;
        padding-left: 1%;
        padding-right: 1%;
    }
    .bl-list{
        width: 500px;
        margin-left: 20px;
    }
    .bl-bought{
        width: 300px;
margin-left: 20px;
    }
}


@media (min-width:751px) and (max-width:850px) {
   .center {      
        margin-left: 0;
        margin-right: 0;
        padding-left: 1%;
        padding-right: 1%
    }
    .bl-list{
        width: 500px;
         margin-left: 20px;
    }
    .bl-bought{
        width: 300px;
        margin-left: 20px;
    }
}

@media (min-width:851px) and (max-width:1100px) {
   .center {      
        margin-left: 0;
        margin-right: 0;
        padding-left: 8%;
        padding-right: 3%
    }
    .bl-list{
        width: 500px;
         margin-left: 20px;
    }
    .bl-bought{
        width: 300px;
        margin-left: 20px;
    }
}

@media (min-width:1101px) and (max-width:1250px) {
   .center {      
        margin-left: 0;
        margin-right: 0;
        padding-left: 7%;
        padding-right: 7%
    }
    .bl-list{
        width: 55%;
        max-width: 500px;
         margin-left: 20px;
    }
    .bl-bought{
        width: 30%;
        margin-left: 20px;
    }
}

@media (min-width:1251px) and (max-width:1500px) {
    .center {
        margin-left: 0;
        margin-right: 0;
        padding-left: 10%;
        padding-right: 10%
    }
    .bl-list{
        width: 55%;
        max-width: 700px;
    }
    .bl-bought{
        width: 30%;
        margin-left: 20px;
    }
}

@media (min-width:1501px) and (max-width:1900px) {
    .center {
        margin-left: 0;
        margin-right: 0;
        padding-left: 16%;
        padding-right: 16%
    }
    .bl-list{
        width: 50%;
        max-width: 800px;
    }
    .bl-bought{
        width: 30%;
        margin-left: 20px;
    }
}

button{
    position: relative;
    
}

.addbutton::before{ 
    content: attr(data-tooltip);
    position: absolute;
    top: -30px;
    left: 50%;
    width:80px;
    height: 25px;
    font-size: 11px;
    border-radius: 8px;
    display: block;
    border: 1px solid black;
    background-color:azure;
    color: white;
    transform: scale(0);
    transition: all 300ms linear;
    transform-origin: 50% 100%;
    padding-top: 10px;
    color: dimgray;
}

.addbutton:hover::before{    
    transform: scale(1);
}






.clearfix::after {
visibility: hidden; 
    display: block;
content:""; 
height: 0;
clear: both; 
 }











